services:
  frontend:
    build: ./frontend
    ports:
      # "Käytä FRONTEND_PORTia, mutta jos sitä ei ole, käytä oletuksena porttia 80"
      - "${FRONTEND_PORT:-80}:80" 
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      notes-api:
        condition: service_healthy

  notes-api:
    build: ./notes-api
    # Backendille ei tarvita ports-määritystä ulospäin, koska Nginx hoitaa liikenteen.
    volumes:
      - ./notes-api:/app
      - ./notes-data:/data #Luo kansion notes-data paikalliseen tiedostojärjestelmään
    # HEALTHCHECK: Docker pingaa backendia 30s välein varmistaakseen että se toimii
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/notes"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s